/* TABLE OF CONTENT 
* 1. MAIN STYLES
* 2. HEADER SECTION
* 3. JOB TYPES SECTION
*
*/

/* Import Raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

:root {
  --white: #fff;
  --blue: #3885e5;
  --border_gray: #d4d9de;
  --text_gray: #9d9fa2;
  --text_black: #4f5660;
}

/* MAIN STYLES */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

a,
a:hover,
a:active,
a:link,
a:visited
{
  color: black;
  text-decoration: none;
}

/* main container */
.container {
  height: inherit;
  /* 19.5% === 375px at 1920px resolution */
  padding: 0 19.5%; 
}


/* HEADER SECTION */

.main__header {
  background: url(../img/header__background.png);
  background-size: 1920px 950px;
  background-position: center;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.6);
  position: relative;
  min-height: 100vh;
}

.logo__text {
  color: var(--white);
  font-size: 1.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0.018rem;
}

.nav a {
  color: var(--white);
}

.nav--wrapper {
  height: 100%;
  margin: 0 6.25%;
  padding: 1.75rem 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menu--wrapper {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 200;
  display: flex;
}

.menu--wrapper li {
  display: block;
  padding: 0 0.75rem;
}


.menu--wrapper li:nth-child(3)::after {
  display: block;
  content: '';
  height: 1.75rem;
  margin-left: 1.25rem;
  float: right;
  border-right: 1px solid var(--white);
}

.menu__item--active {
  border: 1px solid #fff;
  border-radius: 5px;
}

.header__content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  color: var(--white);
}

.header__content a {
  color: var(--white);
}

.header__heading {
  vertical-align: text-bottom;
  height: 46px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0.030rem;
  margin-bottom: 1.1875rem;
}

.header__text {
  font-size: 1.125em;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
  margin-bottom: 2.5625rem;
}

.learn__more {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 95%;
  transform: translateY(-95%);
}

.search__form {
  width: 770px;
  height: 60px;
  margin: 0 auto;
  background: var(--white);
  border-radius: 5px;
  /* Make it flex container */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form > * {
  text-align: left;
  height: 100%;
  width: 100%;
}

.search__form label:first-child {
  flex: 2;
}

.search__form label:nth-child(2) {
  flex: 1.5;
}

.search__form a {
  flex: 1;
}

.search__form label {
  border-right: 1px solid var(--border_gray);
}

.search__form label > *,
.button__search--blue {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.search__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.icon__form {
  position: absolute;
  right: 5%;
  transform: translateX(5%);
  height: 11px;
}

.icon__location {
  height: 7px;
}

.search__input input {
  border: none;
  outline: none;
  margin-left: 1.25rem;
  color: var(--text_gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.search__input input::-webkit-input-placeholder {
  color: var(--text_gray);
}

.search__input input::-moz-placeholder {
  color: var(--text_gray);
}

.search__form .button__search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__search--blue {
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 5px;
  background: var(--blue);
  color: var(--white);
  text-align: center; 
}

.learn__more {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.learn__more p {
  margin-bottom: 1.188em;
}

/* JOB TYPES SECTION */
.job__categories__wrapper {
  padding: 44px 0 40px 0;
  border-bottom: 1px solid var(--border_gray);
}

.job__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job__dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.job__categories li a,
.button__categories {
  color: var(--text_gray);
  font-size: 18px;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.button__categories {
  height: 44px;
  width: 162px;
  border: 1px solid #4f5660;
  border-radius: 5px;
  color: #4f5660;
}

.button__categories:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.job__content {
  text-align: center;
  margin: 6.25rem auto 6.5625em auto;
  max-width: 950px;
}

.job__heading {
  color: var(--text_gray);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 2.625rem;
}

.job__text {
  color: var(--text_gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

/* Video Section */
.video__section {
  display: flex;
}

.video__section > * {
  flex: 1;
}

.video__description {
  height: 550px;
  background-color: var(--blue);
  text-align: left;
  position: relative;
}

.video__content {
  width: 500px; 
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

.video__heading {
  color: var(--white);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.022rem;
  margin-bottom: 42px;
}

.video__text {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
  margin-bottom: 5rem;
}

.button__video {
  height: 44px;
  width: 148px;
  border: 1px solid var(--white);
  border-radius: 5px;
  background: transparent;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.video__player {
  height: 550px;
  background: url(../img/video__bg.png);
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 0px 2000px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 0px 2000px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 0px 2000px rgba(0, 0, 0, 0.6);
  position: relative;
}

.button__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Job offers */
.job__offers {
  text-align: center;
  margin-bottom: 50px;
}

.job__offers__heading {
  margin: 100px auto;
  color: var(--text_black);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.022rem;
}

.job__card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}

.job__card {
  width: 570px;
  border: 1px solid var(--border_gray);
  border-radius: 5px;
  margin: 0 15px;
  padding: 35px 50px;
}

.job__card--dimmed {
  opacity: 0.3;
}

.card__header {
  display: flex;
  margin-left: -35px;
  margin-bottom: 15px;
}

.company__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.company__details > * {
  flex: 1 1 100%;
}

.job__title {
  color: var(--text_black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.01rem
}

.company__brand {
  height: 90px;
  width: 132px;
}

a.company__name {
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.01rem;
}

.company__location {
  color: var(--text_gray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.16px;
  letter-spacing: 0.01rem;
}

.card__content {
  text-align: left;
  color: var(--text_black);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.card__text {
  margin-bottom: 15px;
}

a.card__link {
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}


/* Testimonials */

.testimonials__wrapper {
  display: flex;
  background: #000;
  padding-left: 90px;
  padding-right: 90px;
}

.testimonial__photo {
  height: 550px;
  width: 820px;
}

.testimonial__content {
  color: #fff;
  margin: 155px 0 0 -25px;
}

.testimonial__text {
  width: 650px;
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0.014rem;
}

.testimonial__footer {
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.testimonial__company {
  width: 48px;
  height: 57px;
}

.person__details {
  margin-left: 25px;
}

.person__name {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.375rem;
  letter-spacing: 0.011rem;
}

.person__position {
  color: #c5c5c5;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.375rem;
  letter-spacing: 0.011rem;
}

/* Newsletter */
.newsletter {
  text-align: center;
  padding: 100px 0 100px 0;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

.newsletter__heading {
  color: var(--text_black);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.022rem;
  margin-bottom: 50px;
}

.newsletter__text {
  color: var(--text_black);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
  margin-bottom: 85px;
}

.newsletter__form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid var(--border_gray);
  display: flex;
}

.newsletter__input {
  flex: 2;
  height: 100%;
  margin-left: 5px;
  padding: 0 0 0 10px;
  border: transparent;

  color: var(--text_gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.newsletter__input::-webkit-input-placeholder {
  color: var(--text_gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.newsletter__input::-moz-placeholder {
  color: var(--text_gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

.newsletter__submit {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #3885e5;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.011rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-top: 1px solid var(--border_gray);

  color: var(--text_black);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.068rem;
}












@media (max-width: 1280px) {
  .container {
    padding: 0 10%;
  }
  .testimonials__wrapper {
    padding: 0;
  }

  .testimonial__photo {
    margin-left: -100px;
  }

  .testimonial__content {
    margin-left: -150px;
  }
}
