/* TABLE OF CONTENT 
* 1. MAIN
* 2. HEADER
* 3. etc
*
*/

/* Import Raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600');

:root {
  --white: #fff;
}

/* MAIN */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

a,
a:hover,
a:active,
a:link,
a:visited
 {
  color: black;
  text-decoration: none;
}

/* main container */
.container {
  max-width: 1670px;
  height: inherit;
  /* centerize container */
  margin: 0 auto; 
}



/* HEADER */

.main__header {
  background: url(../img/header__background.png);
  background-size:cover;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  
}

.logo__text {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.875em;
  letter-spacing: 0.018em;
}

.nav a {
  color: var(--white);
}

.nav--wrapper {
  height: 100%;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.menu--wrapper {
  font-size: 0.8em;
  line-height: 1.875em;
  font-weight: 200;
  display: flex;
}

.menu--wrapper li {
  display: block;
  padding: 0 12px;
}


.menu--wrapper li:nth-child(3)::after {
  content: '';
  margin-left: 20px;
  border-right: 1px solid var(--white);
}

.menu__item--active {
  border: 1px solid #fff;
  border-radius: 3px;
}












